body {
    margin-top: 70px;
}

.navbar-brand {
    background: url(list_accept.png) no-repeat 15px 50%;
    padding-left: 55px;
}

.well h2 {
    font-weight: bold;
    margin: 0;
    font-size: 18px;
}

i.time {
    display: block;
}

.btn-toolbar {
    margin-top: 0.3em;
}

.btn-toolbar .btn-group.btn-group-left {
    float: right;
}

.form-profile input {
    width: 55px;
}

.panel-heading.glyphicon-ok {
    float: right;
}

.panel-heading .open-modal {
    float: right;
    margin: -5px;
}

.task-note {
    overflow: hidden;
    height: 1.3em;
}

.task-note .glyphicon {
    margin-top: 0.2em;
    float: right;
}

.task-note .glyphicon-chevron-down {
    display: block;
}
.task-note .glyphicon-chevron-up {
    display: none;
}

.task-note-show {
    height: auto;
}

.task-note-show .glyphicon-chevron-down {
    display: none;
}
.task-note-show .glyphicon-chevron-up {
    display: block;
}
