body {
    margin-top: 70px;
}

.navbar-brand {
    background: url(list_accept.png) no-repeat 15px 50%;
    padding-left: 55px;
}

.well h2 {
    font-weight: bold;
    margin: 0;
    font-size: 18px;
}

i.time {
    display: block;
}

.btn-toolbar {
    margin-top: 0.3em;
}

.btn-toolbar .btn-group.btn-group-left {
    float: right;
}
